<nav class="navbar navbar-dark bg-dark navbar-expand-lg header">
  <a class="navbar-brand" routerLink="/">Heroes</a>
  <button (click)="expand=!expand" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show':expand}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/new">Add New</a>
      </li>
    </ul>
  </div>
</nav>