<div class="row d-flex justify-content-center">
    <!-- ngFor -->
     <div *ngFor="let hero of heroesArray" class="card hero-card m-4">
       <div class="d-flex justify-content-center">
         <img class="card-img-top rounded-circle img-background align-items-center" [src]="imagePath+hero.image" alt="Card image cap">
       </div>
       <div class="card-body">
         <a (click)="onUpdate(hero)"><h5 class="card-title">{{hero.superHeroName}}</h5></a>
         <p class="hero-name">First Name: {{hero.firstName}}</p>
         <p class="hero-name">Last Name: {{hero.lastName}}</p>
         <hr>
         <p class="card-text">Description: {{hero.description}}</p>
       </div>
       <div class="card-footer">
         <a class="btn btn-primary m-2" (click)="onUpdate(hero)">Update</a>
         <button class="btn btn-danger m-2" (click)="oDelete(hero)">Delete</button>
       </div>
     </div>
   </div>
   